<!DOCTYPE html>
<html ng-csp>
    <head>
        <title>MailGoThai Notifications Settings</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    </head>
    <body ng-app="zimbraNotificationsOptions" ng-controller="OptionsCtrl">
        <form class="form-horizontal form-options" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="minutes">Interval/ระยะเวลาในการตรวจสอบ (min/นาที):</label>
                <div class="col-sm-2">
                    <input id="minutes" class="form-control" type="number" ng-model="intervalMinutes" min="5" value="10" />
                </div>
                <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="dateback">จำนวนวันที่แสดง e-mail ย้อนหลัง (วัน):</label>
                <div class="col-sm-2">
                    <input id="dateback" class="form-control" type="number" ng-model="dateBack" min="1" value="7" />
                </div>
                <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="url">URL (เปลี่ยนแปลงไม่ได้):</label>
                <div class="col-sm-3">
                    <input id="url" class="form-control" placeholder="" type="text" ng-model="urlZimbra" value="https://accounts.mail.go.th" disabled />
                </div>
                <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            <!-- disable for this version 0.0.0.1
            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Username :</label>
                <div class="col-sm-2">
                    <input id="username" class="form-control" placeholder="user@mail.go.th" type="text" ng-model="MGTUsername" />
                </div>
                <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="password">Password :</label>
              <div class="col-sm-2">
                  <input id="password" class="form-control" placeholder="password" type="password" ng-model="MGTPassword" />
              </div>
              <span class="status col-sm-1" ng-bind="status"></span>
            </div>
            -->
            <div class="form-group">
                <label class="control-label col-sm-2" for="whatsnews">login ที่นี่ ==> </label>
                <div class="col-sm-2"><a href="https://accounts.mail.go.th" target="_blank">https://accounts.mail.go.th</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="saveButton" class="btn btn-primary" ng-click="saveOptions()">Save</button>
                    <button id="cancelButton" class="btn btn-link" ng-click="restoreOptions()">Cancel</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="whatsnews">What's News v0.0.0.1 : </label>
                <div class="col-sm-4">
                    นำ Opensource Zimbra Notification (MIT License) <a href="https://goo.gl/zynyHZ" target="_blank">https://goo.gl/zynyHZ</a> มาปรับปรุง โดยเพิ่ม </br>
                    1.จำนวนวันที่ต้องการให้แสดงย้อนหลัง (ไม่เอามาทั้งหมด)</br>
                    2.ใช้ได้เฉพาะ MailGoThai</br>
                    3.Login ผ่านเว็บ MailGoThai หลัก</br>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="options.js"></script>
    </body>
</html>
